<div class="container">
    <div class="left-part">
        <div>
            <h2 class="title">Full-Stack-Developer</h2>
        </div>
        <div class="personal-information">
            During my undergraduate studies, I discovered my passion for web development. Currently, I am dedicated to completing my master's degree in Computer & Information Science. I am excitedly looking for opportunities to start a career as a Full-Stack Developer. My goals are to improve professionally and personally, in addition to improving my technical skills..
            
        </div>
        <div class="social-media">
            <a href="https://github.com/CreaTorAlexander" target="_blank">
                <img src="../../assets/icons-social-media/github.svg" alt="GitHub">
            </a>
            <a href="https://stackoverflow.com/users/14747039/aalexander" target="_blank">
                <img src="../../assets/icons-social-media/stack-overflow.svg" alt="Stack Overflow">
            </a>
            <a href="https://www.linkedin.com/in/alexander-he%C3%9F-968969295/" target="_blank">
                <img src="../../assets/icons-social-media/linkedin.svg" alt="LinkedIn">
            </a>
        </div>
    </div>
    <div class="right-part">
    </div>
</div>
