/* You can add global styles to this file, and also import other style files */
/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html, body {
    margin: 4vh;

}

body {
    display: flex;
    flex-direction: column;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;

}